@page
@model Design.Pages.temp.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ImagesInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagesInfo.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagesInfo.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagesInfo.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagesInfo.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagesInfo.SesssionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagesInfo.SesssionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagesInfo.UploadedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagesInfo.UploadedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ImagesInfo?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
